annotated-types==0.7.0
    # via pydantic
anyio==4.9.0
    # via
    #   httpx
    #   openai
black==25.1.0
    # via ai-voice-assistant (pyproject.toml)
certifi==2025.1.31
    # via
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.4.1
    # via requests
click==8.1.8
    # via black
colorama==0.4.6
    # via
    #   click
    #   tqdm
distro==1.9.0
    # via openai
elevenlabs==1.56.0
    # via ai-voice-assistant (pyproject.toml)
h11==0.14.0
    # via httpcore
httpcore==1.0.7
    # via httpx
httpx==0.28.1
    # via
    #   elevenlabs
    #   openai
    #   python-telegram-bot
idna==3.10
    # via
    #   anyio
    #   httpx
    #   requests
isort==6.0.1
    # via ai-voice-assistant (pyproject.toml)
jiter==0.9.0
    # via openai
mypy==1.15.0
    # via ai-voice-assistant (pyproject.toml)
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
openai==1.70.0
    # via ai-voice-assistant (pyproject.toml)
packaging==24.2
    # via black
pathspec==0.12.1
    # via black
platformdirs==4.3.7
    # via black
pydantic==2.11.2
    # via
    #   elevenlabs
    #   openai
    #   pydantic-settings
pydantic-core==2.33.1
    # via
    #   elevenlabs
    #   pydantic
pydantic-settings==2.8.1
    # via ai-voice-assistant (pyproject.toml)
python-dotenv==1.1.0
    # via
    #   ai-voice-assistant (pyproject.toml)
    #   pydantic-settings
python-telegram-bot==22.0
    # via ai-voice-assistant (pyproject.toml)
requests==2.32.3
    # via elevenlabs
ruff==0.11.4
    # via ai-voice-assistant (pyproject.toml)
sniffio==1.3.1
    # via
    #   anyio
    #   openai
tenacity==9.1.2
    # via ai-voice-assistant (pyproject.toml)
tqdm==4.67.1
    # via openai
typing-extensions==4.13.1
    # via
    #   anyio
    #   elevenlabs
    #   mypy
    #   openai
    #   pydantic
    #   pydantic-core
    #   typing-inspection
typing-inspection==0.4.0
    # via pydantic
urllib3==2.3.0
    # via requests
websockets==15.0.1
    # via elevenlabs
